<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>

<!-- header section -->
<header class="header-section">
	<div class="container">
		<!-- logo -->
		<a href="index.php" class="site-logo"><img src="img/logo.png" style="width:40%;height:40%;" alt="Bilişim Kulübü Logo"></a>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<div class="header-info">
			<div class="hf-item">
				<i class="fa fa-map-marker"></i>
				<p><span>Kampüsteki konum:</span> -</p>
			</div>
		</div>
	</div>
</header>
<!-- header section end-->