<li><a href="briefing.php">Brifing</a></li>
<li><a href="magazine.php">YUIN Dergi</a></li>
<!--<li><a href="yuinpolls.php">Açık anketler</a></li>
<li><a href="yuinchat.php">YUIN Chat</a></li>-->
<li><a href="settings.php">Ayarlar</a></li>