<li><a href="briefing.php"><i class="fas fa-list"></i> Etkinliklerim</a></li>
<li><a href="magazine.php"><i class="fas fa-book"></i> YUIN Dergi</a></li>
<!--<li><a href="yuinpolls.php">Açık anketler</a></li>
<li><a href="yuinchat.php">YUIN Chat</a></li>-->
<li><a href="settings.php"><i class="fas fa-cogs"></i> Ayarlar</a></li>