<li><a href="userAdministration.php">Üyeleri yönet</a></li>
<li><a href="activityAdministration.php">Etkinlikleri yönet</a></li>
<li><a href="yuinpollsAdministration.php">Anketleri yönet</a></li>
<li><a href="adminsAdministration.php">YK üyelerini yönet</a></li>
<li><a href="pagesAdministration.php">Sayfaları yönet</a></li>
<li><a href="subgroupsAdministration.php">Alt grupları yönet</a></li>