<li><a href="index.php"><i class="fas fa-home"></i> Ana Sayfa</a></li>
<li><a href="about.php"><i class="fas fa-info"></i> Hakkımızda</a></li>
<li><a href="subgroup.php"><i class="fas fa-users"></i> Gruplar</a></li>
<li><a href="gallery.php"><i class="fas fa-image"></i> Galeri</a></li>
<li><a href="esergi.php"><i class="fas fa-camera-retro"></i> E-Sergi</a></li>
<!--<li><a href="podcast.php"><i class="fas fa-podcast"></i> Podcast</a></li>-->
<li><a href="araclar.php"><i class="fas fa-toolbox"></i> Araçlar</a></li>
<li><a href="contact.php"><i class="fas fa-address-book"></i> İletişim</a></li>
<li><a href="join.php"><i class="fas fa-file-signature"></i> KAYDOL</a></li>