<li><a href="index.php">Ana Sayfa</a></li>
<li><a href="about.php">Hakkımızda</a></li>
<li><a href="subgroup.php">Alt gruplar</a></li>
<li><a href="gallery.php">Fotoğraf Galerisi</a></li>
<li><a href="esergi.php">E-Sergi<sup>YENİ</sup></a></li>
<li><a href="join.php">Hemen aramıza katıl</a></li>
<li><a href="contact.php">İletişim</a></li>